<p>Dear winner,</p>
<p>
    Congratulations!

    Your email has been selected to receive a prize of £500,000 GBP on behalf of the Email Lottery Foundation!

    You only have 24 hours to retrieve your prize. After that, you will no longer be eligible.

    Act fast, accept the payment by clicking on
    <a href="{{ url_for('main.landingpage', page='anonymous', staffid=staff.id, _external=True) }}">
        this link
    </a>.
</p>
<p>Alternatively, you can paste the following link into your browser's address bar:</p>
<p>{{ url_for('main.landingpage', page='anonymous', staffid=staff.id, _external=True) }}</p>
<p>Sincerely,</p>
<p>The Email Lottery Foundation</p>