<table class="table table-hover">
    <tr valign="top">
        <td>
            <a href="{{ url_for('main.staff', staffid=staff.id) }}"><span style="font-size:15px;font-weight:bold">{{ staff.staff_name }}</span></a>
            <br><span style="font-size:15px">Email: {{ staff.email }}</span>
        </td>
        <td align="right">
            <a href="{{ url_for('main.staff', staffid=staff.id) }}" class="btn btn-block btn-info" role="button" style="width:150px">View profile</a>
        </td>
    </tr>
</table>