{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>Edit Profile - Staff Member ID {{ staff.id }}</h1>
            <hr>
            <h1>Existing Details</h2>
                <h2>Name:</h2> <p><span style="font-size:30px;font-weight:bold">{{ staff.staff_name }}</span></p>
                <h2>Email:</h2> <p><span style="font-size:30px;font-weight:bold">{{ staff.email }}</span></p>
                <h2>Department:</h2> <p><span style="font-size:30px;font-weight:bold">{{ department.department_name }}</span></p>
                <h2>Average risk score:</h2> <p><span style="font-size:30px;font-weight:bold">{{ staff.risk_score|round(1, 'common') }}</span></p>
        </div>
        <div class="col-md-6">
            <h1>Edit Details</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    {{ wtf.quick_form(edit_form, button_map={'editSubmit':'primary'}) }}
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(reset_form, button_map={'resetSubmit':'danger'}) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}