{% extends "base.html" %}

{% block content %}
    <h1>Dashboard</h1>
    {% for staff in staff %}
        {% include '_staff.html' %}
    {% endfor %}
    {% if next_url %}
    <a href="{{ next_url }}">Go Back</a>
    {% endif %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Next Page</a>
    {% endif %}
    <br>
    <h2>Add Staff</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.staff_name.label }}<br>
                {{ form.staff_name(size=32) }}<br>
                {% for error in form.staff_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=64) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
{% endblock %}