{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <h1>Name:</h1> <h2><span style="font-weight:normal;">{{ staff.staff_name }}</span></h2>
                <h1>Email:</h1> <h2><span style="font-weight:normal;">{{ staff.email }}</span></h2>
                <h1>Department:</h1> <h2><span style="font-weight:normal;">{{ department.department_name }}</span></h2>
            </td>
            <td>
                <p><strong>Phishing links clicked:</strong> {{ staff.clicked }}</p>
                <p><strong>Phishing forms submitted:</strong> {{ staff.submitted }}</p>
                <p><strong>Emails delivered:</strong> {{ staff.delivered }}</p>
            </td>
        </tr>
    </table>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.selection }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}