{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Profile - Staff Member ID {{ staff.id }}</h1>
                <hr>
                <h2>Name:</h2> <p><span style="font-size:30px;font-weight:bold">{{ staff.staff_name }}</span></p>
                <h2>Email:</h2> <p><span style="font-size:30px;font-weight:bold">{{ staff.email }}</span></p>
                <h2>Department:</h2> <p><span style="font-size:30px;font-weight:bold">{{ department.department_name }}</span></p>
                <h2>Average risk score:</h2> <p><span style="font-size:30px;font-weight:bold">{{ staff.risk_score|round(1, 'common') }}</span></p>
                <h2>Department average risk score:</h2> <p><span style="font-size:30px;font-weight:bold">{{ department.risk_score|round(1, 'common') }}</span></p>
                <h2>Latest absolute score:</h2> <p><span style="font-size:30px;font-weight:bold">{{ staff.latest_risk }}</span></p>
                <h2>Direction of progress:</h2> 
                    {% if staff.direction %}
                    <p><span style="font-size:30px;font-weight:bold;color:green">Decreasing risk</span></p>
                    {% else %}
                    <p><span style="font-size:30px;font-weight:bold;color:red">Increasing risk</span></p>
                    {% endif %}
                <hr>
                <p><strong>Phishing links clicked:</strong> {{ staff.clicked }}</p>
                <p><strong>Phishing forms submitted:</strong> {{ staff.submitted }}</p>
                <p><strong>Emails delivered:</strong> {{ staff.delivered }}</p>
                <hr>
                <br>
                <a href="{{ url_for('main.edit_staff', staffid=staff.id) }}" class="btn btn-block btn-info" role="button">Edit Staff Profile</a>
                <br>
            </div>
            <div class="col-md-6">
                <h1>Actions</h1>
                <hr>
                <h2>Send Phishing Email</h2>
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.quick_form(send_form, button_map={'sendSubmit':'primary'}) }}
                    </div>
                </div>
                <hr>
                <h2>Schedule Phishing Email</h2>
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.quick_form(schedule_form, button_map={'scheduleSubmit':'primary'}) }}
                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                        <div class="col-md-4">
                            {{ wtf.quick_form(remove_form, button_map={'removeSubmit':'danger'}) }}
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}